{{#unless level}}
   <nav class="navbar js-navbar">
      
   {{/unless}}
    <div class="mymenu">
        {{#each items}}
             <div{{menuItemClasses }}>
               <a
                  href="{{menuUrl}}"
                  {{#if title}}
                     title="{{title}}"
                  {{/if}}
                  {{#if target}}
                     target="{{target}}"
                  {{/if}}
                  {{#if rel}}
                     rel="{{rel}}"
                  {{/if}}
                  {{#if items}} 
                     aria-haspopup="true"
                  {{/if}}>
                  {{label}}
              </a>
            
         </div>
        {{/each}}
    </div>
   {{#unless level}}
   </nav>
{{/unless}}
