<header class="header">
   <div class="header__logo">
      <a class="logo" href="{{@website.url}}">
         {{#if @website.logo}}
            <img src="{{@website.logo}}" alt="{{@website.name}}" width="{{@website.logoSize.width}}" height="{{@website.logoSize.height}}">
         {{else}}
            {{@website.name}}
         {{/if}}
      </a>
   </div>
   {{#if menus.mainMenu}}
      {{> menu menus.mainMenu}}
   {{/if}}
</header>