{{> head}}

{{> navbar}}
{{#checkIf @config.custom.frontSource '==' "post" }}
{{> frontpage-post}}
{{else}}
<main class="content">
   {{#if @renderer.isFirstPage}}
   {{#if @config.custom.hero}}
   <div class="hero framed">
      {{{@config.custom.textHero}}}
   </div>
   {{/if}}
   {{/if}}
   <p class="post"><b>Sekvens</b> collective has been creating events in <a href="https://maps.app.goo.gl/Te1orsQmKQ61YtHr5">Svendborg</a> since 2022.<br>
   Sekvens presents <b>groundbreaking sounds</b> from a <b>broad spectrum</b> of genres and delivers a synergy amongst acts that resembles the energy within the collective.</br>
   The focus is on creating a sustainable scene that caters to the crowd of people in our province who longs for a proper <b>club vibe</b>.<br>
   With an influx of people moving to Svendborg every year from Copenhagen, our audience grows and so does the frequency of our events.</p>
   <h1>Upcoming events 👇</h1><br>
   <div class="posts">
      {{#each @website.contentStructure.tags}}
      {{#checkIf this.name '==' 'events'}}
      {{#if this.postsNumber}}
      {{orderby this.posts 'createdAt' 'ASC'}}

      {{#each this.posts}}
      {{#checkIf (date createdAt 'X' ) '>=' (date yesterday 'X')}}

      <article class="post">
         <div class="post_content_area">

            <header>
               <h2 class="h1 post__title"><a href="{{url}}">{{title}}</a><br>
             
               ⏰ {{ date createdAt 'HH:mm'}}<br>
               📅 {{ date createdAt 'Do MMM YYYY'}}<br>
               {{#checkIf postViewConfig.ticketPresalePrice "!=" ""}}
               🎫  {{ postViewConfig.ticketPresalePrice}} kr 
               {{#checkIf postViewConfig.ticketLink "!=" ""}} <i><a style="font-size: medium; padding:0 2px;border:solid 2px;color:yellow;" href="{{postViewConfig.ticketLink}}">buy ticket</a></i>
               {{else}}
               {{#if postViewConfig.ticketsEnabled }} <i><a style="font-size: medium; padding:0 2px;border:solid 2px;color:yellow;" href="{{url}}#ticketform">buy ticket</a></i>
{{/if}}
               {{/checkIf}}
               <br>

               {{/checkIf}}
               {{#checkIf postViewConfig.venue "!=" ""}}
                📍 {{ postViewConfig.venue}}
               {{/checkIf}}
               </h2>
            </header>

            {{#if @config.custom.listingFeaturedImage}}
            {{#featuredImage}}
            {{#if url}}
               <img src="{{url}}" {{#if @config.site.responsiveImages}} {{responsiveImageAttributes 'featuredImage'
                  srcset sizes}} {{/if}} {{ lazyload "lazy" }} height="{{height}}" width="{{width}}" alt="{{alt}}">

            {{/if}}
            {{/featuredImage}}
            {{/if}}

            <div class="post__content">

               {{{ text }}}
             
<br>
            </div>
            <div class="post_paper_start"></div>

         </div>
         <div class="post_paper_end"></div>
      </article>
      {{/checkIf}}

      {{/each}}
      {{else}}
      {{/if}}
      {{/checkIf}}

      {{/each}}


   </div>

</main>
{{/checkIf}}
{{> footer}}