{{> head}}

{{> navbar}}
{{#checkIf @config.custom.frontSource '==' "post" }}
{{> frontpage-post}}
{{else}}
<main class="content">
   {{#if @renderer.isFirstPage}}
   {{#if @config.custom.hero}}
   <div class="hero framed">
      {{{@config.custom.textHero}}}
   </div>
   {{/if}}
   {{/if}}
   <h1>Upcoming events</h1>
   <div class="posts">
      {{#each @website.contentStructure.tags}}
      {{#checkIf this.name '==' 'events'}}
      {{#if this.postsNumber}}
      {{#each this.posts}}

      <article class="post">
         <div class="post_content_area">

            <header>
               <h2 class="h1 post__title"><a href="{{url}}">{{title}}</a></h2>
               <div class="post__meta">

                  <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}" class="post__date">
                     {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                     {{date createdAt @config.custom.formatDate}}
                     {{else}}
                     {{date createdAt @config.custom.formatDateCustom}}
                     {{/checkIf}}
                  </time>

               </div>
            </header>

            {{#if @config.custom.listingFeaturedImage}}
            {{#featuredImage}}
            {{#if url}}
            <figure class="post__image post__cover">
               <img src="{{url}}" {{#if @config.site.responsiveImages}} {{responsiveImageAttributes 'featuredImage'
                  srcset sizes}} {{/if}} {{ lazyload "lazy" }} height="{{height}}" width="{{width}}" alt="{{alt}}">
               {{#checkIfAny caption credits}}
               <figcaption>
                  {{caption}}
                  {{credits}}
               </figcaption>
               {{/checkIfAny}}
            </figure>
            {{/if}}
            {{/featuredImage}}
            {{/if}}

            <div class="post__content">
               {{{ text }}}

            </div>
            <div class="post_paper_start"></div>

         </div>
         <div class="post_paper_end"></div>
{{/each}}
      {{else}}
      {{/if}}
      {{/checkIf}}
      {{/each}}


   </div>
</main>
{{/checkIf}}
{{> footer}}