{{> head}}
{{> navbar}}
<main class="content page">
   {{#tag}}

   {{#if tagViewConfig.displayPostList}}
   <div class="posts">
      
            {{orderby ../posts 'createdAt' 'DESC'}}

      {{#each ../posts}}

      <article class="post">
            
         <div class="post_content_area">
 <header>
               <h2 class="h1 post__title"><a href="{{url}}">{{title}}</a><br>
             
               📅 {{ date createdAt 'Do MMM YYYY'}}<br>
               {{#checkIf postViewConfig.venue "!=" ""}}
                📍 {{ postViewConfig.venue}}
               {{/checkIf}}
               </h2>
            </header>

            {{#if @config.custom.listingFeaturedImage}}
            {{#featuredImage}}
            {{#if url}}
               <img src="{{url}}" {{#if @config.site.responsiveImages}} {{responsiveImageAttributes 'featuredImage'
                  srcset sizes}} {{/if}} {{ lazyload "lazy" }} height="{{height}}" width="{{width}}" alt="{{alt}}">

            {{/if}}
            {{/featuredImage}}
            {{/if}}

            <div class="post__content">

               {{{ text }}}

            </div>
            <div class="post_paper_start"></div>

         </div>
         <div class="post_paper_end"></div>
      </article>
      
      {{/each}}
      {{> pagination}}
   </div>
   {{/if}}
   {{/tag}}
</main>
{{> footer}}